## Лабораторная работа №3
# Линейная регрессия на числовых параметрах

## Задача
Построить модель для прогнозирования цен на неджвижимость в Бостоне
### Данные

В качестве данных для модели используется датасет с набором данных по цене недвижимости в Бостоне. В наборе учетны 13 параметров, влияющих на цену недвижимости. Все параметры числовые.

#### Инструменты решения
Решение будет в виде линейной регрессии. Теорию по линейной регрессии смотрите в лекции.
Для создания модели используется библиотека SkLearn.
Для обработки данных используется библиотека pandas

Загрузим библиотеки

In [ ]:
import numpy as np
#загрузим pandas
import pandas as pd
#загрузим функцию для данных
from sklearn.datasets import load_boston
#загрузим регрессор
from sklearn.linear_model import LinearRegression
# загрузим набор для измерения качества модели и инструмент для кросс валидации
from sklearn import metrics, cross_validation

E:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Для начала нужно подготовить данные с помощью библиотеки Pandas

### Библиотека Pandas

### Series

<p>Конструкторв класса выглядит следующим образом</p>
pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
data – массив, словарь или скалярное значение, на базе которого будет построен Series;

index – список меток, который будет использоваться для доступа к элементам Series. Длина списка должна быть равна длине data;

dtype – объект numpy.dtype, определяющий тип данных;

copy – создает копию массива данных, если параметр равен True в ином случае ничего не делает.

Создание Series из списка

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Добавим индексы в виде букв

In [ ]:
s2 = pd.Series([1, 2, 3, 4, 5], ['a','b', 'c','d','e'])
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

Создание Series из массива

In [ ]:
arr1 = np.array([1,2,3,4])
s3 = pd.Series(arr1, ['a','b', 'c','d'])
print(s3)

a    1
b    2
c    3
d    4
dtype: int32

Обращение к элементу Series

In [ ]:
el1 = s3[0]
print (el1)

1

Обращение к индексу элемента

In [ ]:
el1index = s3.index[0]
print (el1index)

a

Выбор первых 2 элементов

In [ ]:
elements2 = s3[:2]
print (elements2)

a    1
b    2
dtype: int32

### DataFrame

DataFrame представляет собой набор Series, а проще его представить как таблицу.
**Конструктор класса DataFrame выглядит так:**

class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
* data – массив ndarray, словарь (dict) или другой DataFrame;

* index – список меток для записей (имена строк таблицы);

* columns – список меток для полей (имена столбцов таблицы);

* dtype – объект numpy.dtype, определяющий тип данных;

* copy – создает копию массива данных, если параметр равен True в ином случае ничего не делает.

<p>Структуру DataFrame можно создать на базе:</p>

* словаря (dict) в качестве элементов которого должны выступать: одномерные ndarray, списки, другие словари, структуры Series;
* двумерные ndarray;
* структуры Series;
* структурированные ndarray;
* другие DataFrame.

Создание на основе словаря из Series

In [ ]:
d = {"price":pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),
     "count": pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)

print(df1)

    price  count
v1      1     10
v2      2     12
v3      3      7

Выведем индексы

In [ ]:
print(df1.index)

Index(['v1', 'v2', 'v3'], dtype='object')

Выведем колонки

In [ ]:
print(df1.columns)

Index(['price', 'count'], dtype='object')

Создание на основе словаря из массивов

In [ ]:
d2 = {"price":np.array([1, 2, 3]),
       "count": np.array([10, 12, 7])}
df2 = pd.DataFrame(d2, index = ['v1', 'v2', 'v3'])
print (df2)

    price  count
v1      1     10
v2      2     12
v3      3      7

Создание из двумерного массива

In [ ]:
nda1 = np.array([[1, 2, 3], [10, 20, 30]])
df3 = pd.DataFrame(nda1, columns = ['a','b','c'], index = ['a1','a2'])
print (df3)

     a   b   c
a1   1   2   3
a2  10  20  30

#### Работа с DataFrame

Выбор столбца

In [ ]:
print (df3['a'])

a1     1
a2    10
Name: a, dtype: int32

Ввбор строки по индексу

In [ ]:
print (df3.loc['a1'])

a    1
b    2
c    3
Name: a1, dtype: int32

Выбор строки по номеру

In [ ]:
print (df3.iloc[1])

a    10
b    20
c    30
Name: a2, dtype: int32

Добавление нового столбца

In [ ]:
df3['d'] =[5,6]
print (df3)

     a   b   c  d
a1   1   2   3  5
a2  10  20  30  6

Выбор нескольких стоблцов

In [ ]:
df_slice = df3[['a','b']]
print (df_slice)

     a   b
a1   1   2
a2  10  20

Удаление столбца

In [ ]:
df_new = df3.drop(['a'], axis = 1)
print (df_new)

     b   c  d
a1   2   3  5
a2  20  30  6

Здесь первым аргументом идет список удаляемых элементов, потом указывается что удаляется 1- столбец, 0- строка. Если не указывать значение аргумента inplace, то в исходном DataFrame ничего не измениться

In [ ]:
print(df3)

     a   b   c  d
a1   1   2   3  5
a2  10  20  30  6

Укажем inplace = True

In [ ]:
df3.drop(['a'], axis = 1, inplace = True)
print (df3)

     b   c  d
a1   2   3  5
a2  20  30  6

## Задание 1

Считайте данные с помощью load_boston()

In [ ]:
# Ваш код здесь
boston = load_boston()

В поле data содержаться параметры модели, в поле feature_names содержаться имена полей данных, в поле target содержится целевая переменная. 
Рассмотрите тип скачанных данных и создайте DatаFrame с именем df из данных load_boston

In [ ]:
# Ваш код здесь
print(boston['DESCR'])
df=pd.DataFrame(boston['data'], columns=boston['feature_names'])
print(df.columns)

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

Выведите первые 10 строк полученного DataFrame с помощью функции head()

In [ ]:
# Ваш код здесь
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

Выделите из полученного DataFrame параметры модели в переменную X, а целевую переменную в Y

In [ ]:
# Ваш код здесь
X=boston['data']
Y=boston['target']

Выделите первые 300 записей выборки в обучающую часть, а оставшиеся в тестовую

In [ ]:
# Ваш код здесь
# разбиваем массив признаков на обучающую и тестовую выборки
X_train, X_test= X[:300], X[len(X)-300:]
# также разбиваем массив с зависимой переменной
Y_train, Y_test = Y[:300], Y[len(Y)-300:]

### Регрессия

Принципы и задачи регрессии из ложены в лекции. 
Построение модели регрессии заключается в вычислении весов регрессии. 
Для построения модели используется классы регрессоров из библиотеки SKLearn
В этой работе мы будем использовать линейный регрессор, подробная информация о нем представлена здесь https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

**Алгоритм работы с регрессорами:**
* создаем экземпляр класса регрессора
* обучаем его на обучающей части выборки с помощью метода fit()
* получаем веса модели с помощью метода coef_
* оцениваем качество модели с помощью бибилиотеки metrics

## Задание 2

Создайте экземпляр класса LinearRegression() и обучите его на обучающей части выборки.

In [ ]:
# Ваш код здесь
lm=LinearRegression()
lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Получите веса модели и выведите их на печать

In [ ]:
# Ваш код здесь
coef=pd.DataFrame(lm.coef_)
print(coef)

           0
0   1.201254
1   0.014842
2   0.023552
3   0.602065
4  -8.827642
5   9.130622
6  -0.047359
7  -1.013286
8   0.167866
9  -0.014567
10 -0.641834
11  0.016779
12 -0.109764

Предположите переобучена ли модель

In [ ]:
# Ваш ответ здесь

Получите значения цены на недвижимость, используя тестовую часть выборки с помощью метода predict(). Этот метод в качестве едиственного аргумента принимает параметры модели, на которых делается расчет значений модели.

In [ ]:
# Ваш код здесь
predict=lm.predict(X_test)
print(predict)

[ 24.78989027  18.03259149  22.05931494  13.61360316  19.87383206
  14.7165912   20.66686386  26.52427939  16.50600676  24.47414542
  23.08532883  28.12492517  21.75906491  25.96389693  31.88841052
  23.21050649  31.59940091  28.82176716  44.21796638  48.33555948
  41.67074382  33.40083077  41.21528272  30.89031107  22.37966995
  35.60529707  44.63002534  43.56246761  29.83679553  23.45388643
  28.39085236  35.20344517  28.16048283  28.15396863  29.79992566
  21.90165987  23.93080374  27.11067268  12.87861754  12.89383581
  20.27319026  18.73625928  22.29035303  27.06497401  25.65891004
  25.42555613  28.73325122  41.07026393  21.30676623  19.52838338
  38.46966471  51.17292358  37.60139866  33.23503907  36.8697219
  39.55035572  47.42296402  37.60493223  36.7105406   23.0601838
  34.56811636  48.0248401   41.2203841   22.23228632  21.72301881
  27.12842515  28.14486371  39.33114505  33.03106463  32.75240299
  35.85003818  32.9860823   29.50960327  35.09302457  41.91409334
  34.86337482  41.03629559  46.09332722  33.77187173  26.75098557
  20.9244523   24.73192672  24.98068202  27.70273105  32.53081887
  35.18819657  30.48574219  25.57598499  23.16612394  29.85133269
  27.44933003  19.06862603  26.04709758  32.95075406  29.79108248
  28.80787418  28.9385959   33.95980998  36.06473243  30.03397333
  37.34956465  31.97991057  27.53105913  21.19042774  16.18684563
  25.13904357  20.98289376  23.50677739  25.70499407  17.57145217
  18.3970349   17.98149659  24.951302    22.26255121  25.16719139
  24.66896958  21.74805928  16.93098947  25.78838644  26.31423203
  24.62584001  21.03017255  19.65141755  24.47309949  21.03958307
  18.62206487  21.78419616  23.08462718  22.87209402  21.03847382
  19.50701896  18.6024124   22.21992535  21.06471166  20.34633584
  33.02121376  23.04800162  26.94770651  29.30851627  16.95826468
  15.16802008  24.68573236  27.31693513  25.82438955  21.40408183
  21.07312976  15.65204281  25.97952346  12.40687692  15.24836432
  28.34657182  24.46977391  24.05158988  22.28941428  25.17549549
  21.96148768  14.5515092   19.42233148  47.5050814    0.40978875
  10.46842116   9.80898775  14.93849732  32.18064909  36.75303085
  30.8417175   27.1417048   18.5476307   20.09915072  53.00714933
  40.29839513  35.57231524  48.22496693  39.82307145 132.95341645
  40.40748396  22.52419975  20.88571864  22.8750237   28.77360152
  32.32094608  33.37827605  21.5348619   20.15177818  21.92998931
  23.00291768  20.55259263  28.99558759  31.64582376  31.09653058
  27.09444006  23.03121729  56.18722136  25.79527228  45.39822648
  36.38616352  30.95522696  40.12157289  60.50913168  94.50733439
  23.95952291  27.33457912  20.57029327  38.64312539  70.87690751
  33.75481066  19.3719257   40.59919411  50.49097077  34.53894621
  29.7204627   36.30855809  97.5692079   32.42348771  31.98574511
  23.55765112  27.22964616  19.56901812  18.35006429  27.27981723
  26.08072193  58.37155595  22.39127819  24.72029322  25.70211771
  31.3317386   25.18947637  21.9548242   29.76351673  29.44546134
  31.20443829  27.83708383  24.89243679  23.37454302  40.34139565
  30.6657438   24.49721818  31.71990667  26.61440657  14.22433604
  25.02527752  29.76632969  28.47760201  26.84175885  24.13800865
  27.37315271  24.52321243  37.78649662  27.02634668  20.6803365
  14.57911712  18.725208    25.94090249  25.0831125   25.64528732
  23.91974551  27.18936669  27.93697574  28.82402547  18.66006308
  14.05264982  20.52576801  34.97457749  31.63135686  23.62081262
  24.20276074  25.86653688  32.52118424  20.40691424  23.76257261
  26.85209156  26.83726245  30.34677337  36.90952031  27.62868036
  32.00358955  34.8086243   20.07630874  19.70367834  25.14430054
  24.47622668  23.51077365   8.68220625   6.65209622   2.6395936
  13.03673055  14.1550307   18.33989587  20.83361497  18.10574616
  13.26551     17.7151051   20.6048966   15.78522312  19.73321195
  25.54082888  21.18204475  28.83841101  26.94137539  20.0800139 ]

Оцените полученную модель, рассчитав среднюю квадратичную ошибку, среднюю абсолютную ошибку и R2. Все эти величины рассчитываются соответствующими методами в классе metrics. Все они принимают 2 аргумента: 1 - истинные значения (для этого используем данные из тестовой выборки) и 2- предсказанные значения

In [ ]:
# Ваш код здесь
#Средняя квадратичная ошибка
print(metrics.mean_squared_error(Y_test, predict))
#Средняя абсолютная ошибка
print(metrics.mean_absolute_error(Y_test, predict))
#Коэффициент детерминации R2
print(metrics.r2_score(Y_test, predict))

253.63765324828515
8.605527953470556
-1.7145935180204184

Получите значения цены на недвижимость, используя обучающую часть выборки и оцените качество модели

In [ ]:
# Ваш код здесь
predict_train=lm.predict(X_train)
print(predict_train)
#Средняя квадратичная ошибка
print(metrics.mean_squared_error(Y_train, predict_train))
#Средняя абсолютная ошибка
print(metrics.mean_absolute_error(Y_train, predict_train))
#Коэффициент детерминации R2(показывает, какую долю разнообразия ответов наша модель смогла объяснить или предсказать)
print(metrics.r2_score(Y_train, predict_train))

[28.13085992 24.55974551 32.87111436 30.79807835 31.58053802 24.74020289
 21.38293461 20.40333806 13.87015953 18.78699272 21.83922259 19.87320044
 21.23903451 18.89434942 18.91745619 18.2596326  21.0426816  18.09346006
 14.53016992 17.10983621 13.64190434 18.02954016 19.55670346 15.5796975
 16.66750028 12.60216948 15.32445358 16.65065836 22.11530749 24.54078625
 14.10221169 18.75563044 14.69301258 14.86986856 16.89632404 20.99896474
 19.98872748 21.04315763 22.63203255 30.00036391 34.46539534 31.39769384
 25.61115064 26.02798907 22.78418757 20.28510946 20.84625294 19.47409118
 11.84663458 16.61930813 21.16213889 22.09076366 28.20781096 23.15928469
 14.4585649  33.9353677  23.26384527 30.962945   21.44901396 19.28445504
 15.98293603 16.76101945 23.12326483 26.00066514 28.07710181 26.86184042
 21.03742496 19.73394967 15.96865413 19.26874994 26.842559   21.78668617
 23.82799797 25.21965039 25.74545566 23.34888724 21.85880285 22.30243301
 21.55906396 20.16908403 29.19964276 26.23702067 25.21827904 23.10589055
 25.65797067 28.09118962 22.36798443 23.96500026 30.8898516  32.61293749
 26.33897711 25.9411203  27.68023196 26.96106506 24.61326426 28.13696167
 23.40453753 41.379046   40.92416832 35.77602436 25.63410726 26.61970405
 17.02524501 19.58528651 20.03914275 16.7148443  16.53286895 19.91660374
 22.52939688 20.193716   21.521084   26.67504178 18.49768758 19.87133197
 22.67233384 18.01357883 21.92345279 20.24694483 18.09127002 17.98986244
 21.45699081 21.88117391 20.81471019 18.92358156 20.07699737 21.9014132
 16.85752541 13.93199088 20.87082781 13.98953964 21.09516043 20.88527725
 20.45265532 14.71220022 12.51538867 19.7899069  16.01848547 21.13478884
 14.98078159 18.4287947  17.82169206  7.77739068 17.47134712 18.34787341
 11.46217036 18.41135653 14.62235285 11.04791729 12.94719759 17.8036568
 22.25413177 14.97119577 12.25488282 16.96736367 21.57616065 21.07412255
 10.48654243 32.19751512 23.96964559 25.83495601 26.32811535 38.18709078
 41.90465942 46.66601112 22.94907314 23.70775803 42.22739996 20.3554643
 25.80177821 27.14544168 19.72959159 22.21459645 18.3349479  26.73849126
 22.21299978 30.14918223 23.76821251 25.90136989 31.11055905 33.89315764
 39.68123905 25.84341364 34.03780283 28.28622765 18.63141468 24.34166632
 41.50649974 31.88593929 29.70642715 35.07971414 31.54640815 29.39121741
 33.84659281 32.70666269 30.27822209 43.75784805 36.4869289  33.52104584
 35.8087422  30.62717929 31.93856124 24.96449314 39.74664998 44.53266634
 46.29350878 22.59625377 24.78989027 18.03259149 22.05931494 13.61360316
 19.87383206 14.7165912  20.66686386 26.52427939 16.50600676 24.47414542
 23.08532883 28.12492517 21.75906491 25.96389693 31.88841052 23.21050649
 31.59940091 28.82176716 44.21796638 48.33555948 41.67074382 33.40083077
 41.21528272 30.89031107 22.37966995 35.60529707 44.63002534 43.56246761
 29.83679553 23.45388643 28.39085236 35.20344517 28.16048283 28.15396863
 29.79992566 21.90165987 23.93080374 27.11067268 12.87861754 12.89383581
 20.27319026 18.73625928 22.29035303 27.06497401 25.65891004 25.42555613
 28.73325122 41.07026393 21.30676623 19.52838338 38.46966471 51.17292358
 37.60139866 33.23503907 36.8697219  39.55035572 47.42296402 37.60493223
 36.7105406  23.0601838  34.56811636 48.0248401  41.2203841  22.23228632
 21.72301881 27.12842515 28.14486371 39.33114505 33.03106463 32.75240299
 35.85003818 32.9860823  29.50960327 35.09302457 41.91409334 34.86337482
 41.03629559 46.09332722 33.77187173 26.75098557 20.9244523  24.73192672
 24.98068202 27.70273105 32.53081887 35.18819657 30.48574219 25.57598499
 23.16612394 29.85133269 27.44933003 19.06862603 26.04709758 32.95075406]
9.633874020539103
2.4037990801730547
0.877626706559497

Сравните качество, полученное на тестовых и обучающих данных. Сделайте выводы о переобучении или недообучении модели.

**Ваши выводы здесь**
На тестовых данных коэффициент детерминации R2=-1.7 R2<0 из этого можно сделать вывод, что модель хуже константной. 
На обучающей части выборки мы получили R2=0,87 0<=R2<=1 и можно сказать, что модель относительно хорошего качества.
Так как значение R2 "лучше" на обучающей части выборки, то мы делаем вывод, что наша модель переобучена. Работает хорошо на обучающих, но плохо на тестовых данных.

### Кросс-валидация

Этот прием позволяет улучшить качество модели.
Суть ее заключается в разделении выборки на равные части (фолды) и использовании 1 части в качестве тестовой , а остальных в качестве обучающей части выборки. Модель обучается столько раз, на сколько частей разбивается выборка.

<p>Для разбиения выборки по кросс валидации используется <p/>
**cross_validation.train_test_split(X, Y, test_size = 0.3,random_state = 1)**
* X - параметры модели
* Y - целевая переменная
* test_size - размер тестовой выборки в долях

<p>Возращает</p> 
* 1- обучающую часть X
* 2- тестовую часть X
* 3- обучающую часть Y
* 4- тестовую часть Y

## Задание 3

Разбейте выборку по кросс валидации и обучите регрессор

In [ ]:
# Ваш код здесь
x_train, x_test, y_train, y_test = cross_validation.train_test_split(X, Y, test_size=0.3, random_state=1)
lm2=LinearRegression()
lm2.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Оцените качество модели на тестовой части выборки

In [ ]:
# Ваш код здесь
predict2=lm2.predict(x_test)
#Средняя квадратичная ошибка
print(metrics.mean_squared_error(y_test, predict2))
#Средняя абсолютная ошибка
print(metrics.mean_absolute_error(y_test, predict2))
#Коэффициент детерминации R2
print(metrics.r2_score(y_test, predict2))

19.829609248605003
3.3435599938994938
0.7836482437943243

Оцените качество модели на обучающей части выборки

In [ ]:
# Ваш код здесь
predict_train2=lm2.predict(x_train)
#Средняя квадратичная ошибка
print(metrics.mean_squared_error(y_train, predict_train2))
#Средняя абсолютная ошибка
print(metrics.mean_absolute_error(y_train, predict_train2))
#Коэффициент детерминации R2(показывает, какую долю разнообразия ответов наша модель смогла объяснить или предсказать)
print(metrics.r2_score(y_train, predict_train2))

23.517585145992793
3.3464680190260987
0.7103355525346499

Сделайте выводы о переобучении или недообучении модели

**Ваши выводы** И на тестовых, и на обучающих данных коэффициент находится в промежутке [0;1] (0.78 для тестовой, 0.71 для обучающей)можно сказать, что модели относительно хорошего качества. Делаем вывод, что модель находится в той оптимальной точке, когда модель имеет наилучшую обобщающую способность.

Получите веса модели и сохраните их в файл excel

In [ ]:
# Ваш код здесь
coef2=pd.DataFrame(lm2.coef_)

writer = pd.ExcelWriter('lab3_answer1.xlsx', engine='xlsxwriter')
coef2.to_excel(writer, sheet_name='table')
writer.save()